@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --head-color: #161616;
  --text-color: #4f4e4e;
  --card-color: #fbd681;
  --spicial-color: #0b75c7;
  --footer-text: #d4d4d4;
}

* {
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Poppins", sans-serif;
}
